:root{

    --primary-font-family: "Karla", sans-serif;
    --font-size: 18px;
    --spacing: 30px;
        
}

.container{
    
    display: flex;
    justify-content: center;
    align-items: baseline;
    
}

.team{
   
     display:flex;
     justify-content: center;
     flex-wrap:wrap;
   
}


.langage{

    border-radius: 50%;
    max-width: 400px;
       
}

.one{

   border-radius: 20%;
   max-width: 300px;

}

a{
    text-decoration: none;
    color:black;

}

a:hover{

    color:white;
}
    
body {
    
    font-family: var(--primary-font-family);
    background-color: #e2ba82;
}

/*==================HEADER==================*/

header{

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing);
    font-size: 22px;
    font-weight: bold;
    border: 2px solid white;
    margin:10px;
    background-color: #765342;
    
}

.logo{

    width: 90px;
    border: #0f0f0f 2px solid;
    background-color: #ffffee;    
}

.logo img{

    max-width: 100%;
  
}

.btn{

    display:flex;
    flex-direction: column;
    gap: 8px;
    border:none;
    background-color: transparent;
}

.barre{

    border-bottom: 2px solid white;
    width:30px;
}

.mobile{

    position:absolute;
    display:none;
}

.desktop{
    
    display:none;
}

.desktop ul{

    display:flex;
    gap: var(--spacing);
}

main{

    padding: var(--spacing);
    
}


h1{
    
    text-transform: uppercase;
    margin-bottom: var(--spacing);
    font-weight: 700;
    font-size: 1.6rem;
    padding:10px;
    background-color:#765342;
    box-shadow: #ffffee 0px 5px 15px;
    text-align: center;
}


h2{
    
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size:18px;
    margin: 20px;
    text-decoration:overline;
}
/*=======================eleves====================*/
.position{

    display: flex;
    justify-content: center;
    max-width: 100%;
}

.wrapper {

    border:10px dotted white;
    width: 1000px;
    display:flex;
    justify-content: center;
    
}

.eleves{ 
    
    display:flex;
    justify-content: center; 
    flex-wrap: wrap;
}

.eleves>* {

    margin: 10px;
    padding:50px;
}

.eleve img{

    max-width:200px;
}



/*==================description================*/



.formulaire{

    margin:60px;
    padding:20px;

    display:flex;
    flex-direction: row;
    justify-content: center;


}

.contactez-nous{

    display:flex;
    flex-direction: column;
    justify-content: center;
}

p{
    font-size: 18px;
    font-weight: bold;
    margin:5px;
}
/*===========footer=============*/

footer{

    padding: var(--spacing);
    margin:50px;
    background-color: bisque;
    text-align: center;
    font-size: 15px;
    font-weight:bolder;
}


@media (min-width: 769px){
    .menu-mobile{
        display:none;
    }
    .desktop{
        display:block;
    }
    .eleve:hover{
        transform: scale(1.04);
    }
}
