@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
:root{

    --primary-font-family: "Karla", sans-serif;
    --font-size: 18px;
    --spacing: 30px;
        
}



/* ==============================================LOGO ET HEADER================================================*/

.logo{

    border: #0f0f0f 2px solid;
    background-color:#ffffee; 
      
}

.logo img{

    width:70px;
}

header{

    background-color: #c78e60;
    display:flex;
    position:relative;
       
}


/* ==============================================MENU HAMBURGER ======================================*/

.nav-toggler{

    position: fixed;
    top:15px;
    right: 30px;
    height: 50px;
    width:50px;
    border:none;
    cursor:pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    background:transparent;

}

.line{

    position: absolute; /* sort du flux, se positionne en haut à gauche ou par rapport au premier parent trouvé*/
    display:block;
    width:100%;
    height:2px;
    background:#f1f1f1;
    transition: transform 0.3s ease-in; /*lent au debut, rapide à la fin*/
     
}

.l1{

    transform: translateY(-10px) /*repositionne un élément verticalement sur le plan 2D*/
}

.l3{

    transform: translateY(10px);
    

}

.nav-toggler.active .l1{

    transform: translateY(0px) rotate(135deg);
    
}

.nav-toggler.active .l2{
    
    opacity: 0;

}
.nav-toggler.active .l3{

    transform: translateY(0px) rotate(-135deg);
}

nav{

    position: fixed;
    width: 30vw;
    min-height:100%;
    right:0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:#c78e60;
    opacity:0.70;
    border-left: 1px solid #cfcfcf;
    transform: translateX(100%);
    transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84) /*permet de parametrer la courbe avec 4 coeff compris entre 0 et 1*/
}

nav.active{

    transform: translate(0);    

}

nav a {

    color: white;
    --font-size: 18px;
    display:block;
    margin: 15px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover{

    color: black;
}

button.nav-toggler{

    background-color:#c78e60;
    border-radius:50%;
}

.desktop{

   display:flex;

}

.nav1{
    text-decoration: none;
    display:flex;
    align-items: flex-end;
    gap:30px;
    padding:40px 40px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}


/* ==============================================TITRES========================================================*/

h1{

    
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: var(--spacing);
    font-weight: 700;
    font-size: 1.4em;
    border-radius: 20%;
    background-color:#c78e60;
    color: white;
    justify-content: center;
    text-align: center;
}

h2{
    
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    --font-size: 18px;
    padding-top:50px; 
    margin: 30px;
    text-decoration:overline;
    line-height: 30px;
}

h3{

    text-align:center;
    font-weight:bold;
    text-transform: uppercase;
    font-size: 19px;
    text-decoration: overline;
    color: #c78e60;
    padding:10px 20px;
    margin-top:40px;
    line-height: 50px;

}

h4{

    display:inline-block;
    position: relative;
    background-color: #0f0f0f;
    border-radius: 20%;
    color:#f1f1f1;
    padding: 30px;
    margin-bottom: 100px;
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    left:35px;
    
}

h4::after{

    content:"";
    position: absolute;
    display: block;
    height:40%;
    width:2px;
    background-color: #dadada;
    right:25px;
    top:25px;
    animation: cursor 1s infinite;
}

@keyframes cursor { /*permet de definir les etapes d'une animation CSS*/

    0%{
        opacity: 1;
    }

    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* ==============================================BODY & MAIN====================================================*/

body {
    
    font-family: var(--primary-font-family);
  
}

main{

    padding: var(--spacing);
    
}

.container{

     display:flex;
     justify-content: center;
    
}

/*-----------------------------Carte tournante-------------------------*/

.cards{

    transition: transform 2s ease-in-out;
    transform-style: preserve-3d; 
    width: 200px;
    height: 300px;
    position: relative; /*reste dans le flux, position modifié*/
}

.card{

    width: 100%;
    height:100%;
    position: absolute;
    backface-visibility: hidden;
}

.card-devant{

    z-index: 1; /*precise l'empilement des éléments d'une page */ 

}

.card-derriere{

    z-index: 2;
    transform: rotateY(180deg);
   
}

.cards:hover{

    transform: rotateY(180deg);
}

.qualites{

    display:flex;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    background-color: #e0c470;
    font-family: 'Montserrat', sans-serif;
    line-height: 40px;
    border:4mm ridge #0f0f0f;
    
}

.langage{

    border-radius: 50%;
    width:300px;
    height: 300px;
         
}

.one{

   border-radius: 20%;
   width: 200px;

}

.description{

    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    font-weight:600;
    line-height: 27px;
    margin:100px auto; 
    padding: 25px;
    background-color:#f2f2f2;
    border: 4px solid #c78e60;
    display:flex;
    text-align:justify;

}

.container2{

    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:20px;
    width: 100%;
    height:500px;
    margin-bottom: 40px;
   
   
}

.delegue1{

   
    border: 3px solid #c78e60;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;

}

.delegue2{

    border: 3px solid #c78e60;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
   
}

.two{

    max-width:150px;
    display:flex;
    justify-content: center;
}

.three{

    max-width:150px;
    display:flex;
}

.commentaire1{

    margin-top: 42px;
    font-weight: bold;
}


.commentaire2{

    margin-top: 42px;
    font-weight: bold;
    text-align: center;
}

.container3 {

    border:15px dotted #c78e60;
    border-radius: 50%;
    
}

.eleves{ 
    
    display:flex;
    justify-content: center; 
    flex-wrap: wrap;
    gap:40px;
}

.eleves>* { /*permet de cibler tout les éléments du document*/

    margin: 10px;
    padding:40px;

}

.eleve img{

    border: 1px solid black;
    width:200px;
    border-radius: 20%;
    transform: .4s;
}

.eleve img:hover{

    cursor:pointer;
    transform: scale(1.60);
}

/* ==============================================FORMULAIRE====================================================*/

.container4{

    display:flex;
    justify-content: center;
    border: 3px inset #c78e60;
    margin-top: 80px;
}

.entete-form{

    background-color:#c78e60;
    margin:20px;
    padding:40px 20px 40px 20px;
    display:flex;
    text-align: justify;
    color:white;
    line-height: 20px;
    font-weight: bold;

}

#nom{
    
    padding:20px 50px;
}

#email{

    padding:20px 50px;
}


.label-input{

    display:flex;
    flex-direction: column;
    align-items: center;
    line-height: 40px;
    background-color:#f3eae8;

}

input{

    padding: 15px;
    color:white;
    border-radius:20%;
  
}

#select{

    padding: 20px 50px;
}

#message{

    padding:50px 60px;
}



button.go{             

    background-image: url(assets/fondbutton1.webp);
    background-size: auto;
    --font-size: 18px;
    padding: 30px;
    margin: 30px;
    border-radius: 50%;  
}

.sujet{

    padding: 20px 50px;
   
}

label{

    color:#c78e60;
    font-weight: bold;
    font-size:20px;
    text-align: center;
}

textarea{

    padding:40px 50px;
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    font-weight: 800;
}


/* ==============================================FOOTER========================================================*/

footer{

    padding: var(--spacing);
    color:white;
    background-color: #c78e60;
    text-align: center;
    font-size: 18px;
    font-weight:bolder;
  
}

/* ==============================================VERSION MOBILE========================================================*/

@media (max-width: 768px){

    .desktop{

        display:none;
    }

    
    .container{

        display:flex;
        flex-wrap: wrap;
    }

    .active{
        z-index: 1;
    }
}

@media (min-width: 769px){

    .nav-toggler{

        display:none;

    }

    .description{

        width: 800px;
    }

    header{

        justify-content: space-between;
    }

    h4{
        position:relative;
        left:200px;
    }

}
